%p#notice= notice

%p
  %b Nom:
  = @status.name
%p
  %b Position:
  = @status.position
%p
  %b Color:
  %span{:class => color_class(@status.color)}
    = @status.name
%p
  %b Progress:
  = @status.progress

= link_to 'Back', statuses_path, :class => "btn btn-primary"
= link_to 'Edit', edit_status_path(@status), :class => "btn btn-primary"
= link_to 'New', new_status_path, :class => "btn btn-primary"
= link_to 'Delete', @status, :confirm => 'Are you sure?', :method => :delete, :class => "btn btn-primary"
