- content_for :page_header do
  %h1= "Modification du modèle #{@secubat_model.subject} "
= render 'form'

= link_to 'Voir', @secubat_model, :class => "btn btn-primary"
= link_to 'Retour', secubat_models_path, :class => "btn btn-primary"
