-# btnclass = (!@secubat_more_recent_mailing_by_user[contact.id].nil? && @secubat_more_recent_mailing_by_user[contact.id] > 1.week.ago) ? "btn-success" : "btn-warning"
- btnclass = ""
%a.btn.dropdown-toggle{"data-toggle" => "dropdown", :href => "#", :class => "btn #{btnclass} #{button_size}", :style => "width: 180px;"}
  %div{:style => "display:none;"}= @secubat_count_mailings[contact.id].nil? ? "0;" : "#{@secubat_count_mailings[contact.id]};"
  = "Envoyer un mail"
  = " (#{@secubat_count_mailings[contact.id]})" unless @secubat_count_mailings[contact.id].nil?
  %span.caret{:style => "padding-top:5px;"}
%ul.dropdown-menu{:style => "text-align:left; min-width:110px;"}
  - @secubat_models.each do |model|
    %li
      -#TODO A Gérer dans la requête du controller / scope du model
      -# if !contact.is_admin? && model.is_unique? && @secubat_count_mailings_by_users[[contact.id, model.id]] ||= 0 > 0
        %span{:style => "padding-left: 10px; font-style: italic; color: grey"}
          = "#{model.subject} (#{@secubat_count_mailings_by_users[[contact.id, model.id]] ||= 0})"
      -# else
      = link_to "#{model.subject}", send_mailing_model_secubat_client_path(:id => contact.id, :model_id => model.id), :remote => true, :style => "padding-left: 10px;", :method => :put, :onclick => "$('#loader').css({visibility:'visible'});"
