= form_for @wedding do |f|
  -if @wedding.errors.any?
    #error_explanation
      %h2= "#{pluralize(@wedding.errors.count, "error")} prohibited this wedding from being saved:"
      %ul
        - @wedding.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :titre
    = f.text_field :titre
  .field
    = f.label :description
    = f.text_area :description
  .field
    = f.label :lieu
    = f.text_field :lieu
  .field
    = f.label :date
    = f.datetime_select :date
  .field
    = f.label :duree
    = f.text_field :duree
  .field
    = f.label :personne
    = f.text_field :personne
  .actions
    = f.submit 'Save'
